.custom-navbar-height {
  height: 100px; /* Altezza desiderata */
  min-height: 100px; /* Altezza minima per garantire uniformità */
}

.custom-navbar {
  background-color: #2c3e50;
  border-bottom: 2px solid #1abc9c;
}

.nav-link-custom {
  color: #ecf0f1 !important;
  margin-right: 15px;
  transition: color 0.3s ease-in-out;
  padding-top: 25px; /* Spaziatura interna per aumentare l'altezza */
  padding-bottom: 25px;
}

.nav-link-custom:hover {
  color: #1abc9c !important;
}

.profile-menu {
  display: flex;
  align-items: center;
}

.user-greeting {
  color: #1abc9c !important;
  font-weight: bold;
  margin-right: 15px;
}

.user-greeting:hover{
  color: #ecf0f1 !important;
}

.custom-toggle{
  border-color: white !important;
}

.custom-toggle .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-btn {
  border: 1px solid #1abc9c;
  color: #ecf0f1 !important;
  transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
  background-color: #1abc9c;
  color: #2c3e50;
}

.custom-btn-prof:hover {
  background-color: #1abc9c !important;
}

.custom-btn-dark {
  background-color: #34495e;
  border: 1px solid #ecf0f1;
}

.custom-btn-dark:hover {
  background-color: #1abc9c !important;
  color: #2c3e50;
}

.modal-header-custom {
  background-color: #34495e;
  color: #ecf0f1;
}